cmd.txt
*.swp

# Key material
id_rsa*
id_rsa.pub

# internal to terraform state
.terraform*

# terraform plans
plan.out

#terraform state
terraform.tfstate
terraform.tfstate.*

#private vars for terraform
env

